
*{
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	background-color: var(--bg-color);
	border: 1px solid var(--border-color);
	font-family: var(--main-font);
	color: var(--text-main-color);
}

.text_green{
	color: var(--text-green-color);
}
.text_red{
	color: var(--text-red-color);
}

main{
	display: flex;
	align-self: flex-start;
	height: calc(100vh - 40px - 28px);
}

