.portfolio, .trump-movers{
	width: 100%;
	border-bottom: 1px solid var(--border-color);
}

:is(.portfolio, .trump-movers) :is(td, th){
	text-align: end;
	line-height: 32px;
	font-size: 12px;
}

:is(.portfolio, .trump-movers) th{

	cursor: pointer;
	user-select: none;
	text-wrap: nowrap;
}

:is(.portfolio, .trump-movers) :is(td, th):first-child{
	text-align: start;
	padding-left: 8px;
}

.portfolio :is(td, th):last-child{
	padding-right: 16px;
}

:is(.portfolio, .trump-movers) td{
	font-family: var(--secondary-font);
}

:is(.portfolio, .trump-movers) td:first-child{
	font-weight: 600;
	font-size: 14px;
}

:is(.portfolio, .trump-movers) tr{
	border-bottom: 1px solid var(--bg-color);
}

:is(.portfolio, .trump-movers) thead tr:nth-child(2){
	box-shadow: inset 0 0 0 2px rgba(20, 110, 176, 1), 0 0 10px 4px #146EB033;
}

.trump-movers :is(td, th):last-child{
	padding-right: 56px;
}


.portfolio{
	border-bottom: 1px solid var(--border-color);
}

.filter__arrow{
	transform: rotate(180deg);
	padding-right: 4px;
}

.filter__arrow_active{
	padding-left: 4px;
}

.portfolio tfoot tr{
	border: none;
}

.portfolio{
	border-bottom: 1px solid var(--border-color);
}


@media (max-width: 1310px) {
	:is(.portfolio, .trump-movers) :is(td, th){
		font-size: 11px;
	}
}

